<table class="xsmall">
{% for match in matches %}
<tr class="small">
	<td>
		<span class="team bright">{{ match.team1.name }}</span>
		<img class="logo" src="{{ logoPath }}{{ match.team1.logo}}" onerror="this.classList.add('error')"/>
		<span> vs </span>
		<img class="logo" src="{{ logoPath }}{{ match.team2.logo}}" onerror="this.classList.add('error')"/>
		<span class="team bright">{{ match.team2.name }}</span>
	</td>
    {% if match.live %}
		<td class="align-right live bright">{{ "LIVE" | translate }}</td>
	{% else %}
		<td class="align-right starttime">{{ match.starts }}</td>
	{% endif %}
</tr>
<tr>
	<td colspan="3" class="align-left tournament">{{ match.tournament }}</td>
</tr>
{% endfor %}
</table>
